body {
    width: 100%;
    height: 100%;
}

.pageContainer {
    /* background-color: lightskyblue; */
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.graphContainer {

    min-width: 1000px;
    min-height:30%;
    max-width: 1500px;
    max-height: 600px;
    margin-left: 100px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pageContainer h1 {
    padding-top: 20px;
    color: white;
    text-align: center;
}

.graphData {
    /* background-color: lightskyblue; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
}

.graphDescription {
    text-align: center;
    color: white;
    text-decoration: underline;
    font-size: 20px;
    margin-top: 10px;
}

.labels {
    gap: 20px 30px;
    align-items: stretch;
    height: auto;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.label {
    flex: 1;
    flex-grow: 1;
    min-width: 200px;
    height: 60px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#l1 {
    background-color: rgb(37, 119, 173);
    color: white;
}

#l2 {
    flex-grow: 2;
    background-color: rgb(14, 53, 78);
    color: white;
}

#l3 {
    flex-grow: 2;
    background-color: rgb(122, 191, 233);
    color: black;
}

#l4 {  
    background-color: rgb(6, 159, 255);
    color: black;
}

#l5 {
    flex-grow: 2;
    background-color: rgb(6, 43, 255);
    color: white;
}

#l6 {
    background-color: rgb(111, 127, 216);
    color: black;
}

#l7 {
    background-color: rgb(61, 77, 131);
    color: white;
}

#l8 {
    background-color: rgb(75, 80, 94);
    color: white;
}

