
.kumar-one-regular {
  font-family: 'Kumar One', serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: linear-gradient( rgb(35, 35, 255), rgb(6, 6, 70));
  color: blue;
  height: 100%;;
}

html { 
  height: 100%;;
}

img {
  margin: 0px 20px;
  width: 20px;
  height: 20px;
}

.header h1 {
  padding-top: 1%;
  text-align: center;
  font-family: 'Kumar One', serif;
  font-weight: 200;
  font-size: 50px;
  color:white;
  
}


.Login {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 30px;
  font-size: larger;
  text-align: center;
  background-color: rgb(22, 21, 21);
  border-radius: 5px;

  
}

#registerHeader {
  color: rgb(35, 35, 255);
  font-family: 'Kumar One', serif;
  font-weight: 700;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
}

#loginbtn {
  margin-top: 15px;
  border-radius: 50px;
  color: white;
  background-color: rgb(35, 35, 255);
  height: 40px;
  width: 75px;
  border: none;
}

#loginbtn:hover {
  cursor: pointer;
}

#register{
  color: rgb(35, 35, 255);
  font-family: 'Kumar One', serif;
  font-style: italic;
  text-decoration: none;
}

  input {
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: column;
  gap: 25px;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  font-size: 15px;
}

.inputField {

  display: flex;
  align-items: center;
  margin: auto;
  width: 300px;
  height: 75px;
  border-radius: 5px;
  background-color: rgb(184, 227, 255);
  margin-bottom: 10px;
}

.navbar {
  padding: 10px;
  margin-top: 0;
  display: flex;
  align-items: center;
  background-color: white;
}
.navbar h1 {
  color: rgb(35, 35, 255);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: rgb(35, 35, 255);
}

.loginError {
  height: 30px;
  width: 500px;
  color: red;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 1px;
  padding-bottom: 5px;
  margin-left: 40px;
  border-radius: 10px;
  border: 2px rgb(84, 169, 240) solid;
  background-color: rgb(184, 227, 255);
}

.googleBtn {
  width: 250px;
  height: 55px;
  border-radius: 50px;
  border-color: dodgerblue;
}

.expense-actions {
  display: flex;
  align-items: center;
}

.date-span {
  margin: 0 8px; /* Add 8px margin to the left and right */
  font-size: 0.8em;
  white-space: nowrap; /* Prevent wrapping on small screens */
}
