* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;

}

.navl {
    display: inline-block;
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: midnightblue;
}


.navHomeDiv {
    height: 50px;
    width: 50px;
    font-size: 25px;
    color: white;
    /* color: rgb(35, 35, 255); */
    font-weight: bolder;
    /* border-right : 3px solid dodgerblue; */
    
}


.nav-profile {
    border-left: 2px dodgerblue solid;
    border-right: 2px dodgerblue solid;
    padding-right: 50px;
    text-align: center;
    color: white;
    /* color: rgb(35, 35, 255); */
    font-size: larger;

}

.nav-link {
    border-right: 2px dodgerblue solid;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    color: white;
    /* color: rgb(35, 35, 255); */
    font-size: larger;
    
}

.nav-link:hover {
    background-color:rgb(184, 227, 255);
}

.nav-profile:hover {
    background-color:rgb(184, 227, 255);
}
.nav-signout {
    color: rgb(35, 35, 255);
    float: right;

    background-color:rgb(184, 227, 255);
    border-radius: 5px;
}
.nav-signout:hover {
    background-color: grey;
}