
.profile {
    margin-left: 0;
    width: 100vw;
    height: 100vh;
    background-color: dodgerblue;
}

.profile button {
    margin-top: 100px;
    margin-left: 100px;
    width: 200px;
    height: 50px;
}

body {
    width: 100vw;
}